@font-face {
  font-family:'icomoon';src:url("../fonts/Icon/icomoon.eot?6su9j0");src:url("../fonts/Icon/icomoon.eot?6su9j0#iefix") format("embedded-opentype"), url("../fonts/Icon/icomoon.ttf?6su9j0") format("truetype"), url("../fonts/Icon/icomoon.woff?6su9j0") format("woff"), url("../fonts/Icon/icomoon.svg?6su9j0#icomoon") format("svg");font-weight:normal;font-style:normal;
}
