* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body {
	background: #FDE9DF;
}
h1 {
	text-align: center;
	margin: 0;
	color: #fff;
	font-weight: 500;
	font-style: normal;
}
h2,
h3 {
	font-weight: 500;
	font-style: normal;
}
p {
	line-height: 21px;
}
a {
	color: #0881A3;
}
.wrapper {
	max-width: 870px;
	margin: 0 auto;
	padding-bottom: 40px;
}
.container__title {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #0881A3;
	margin-bottom: 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.example {
	margin-top: 10px;
	padding: 15px;
	border-radius: 5px;
	background-color: #FFFDFB;
}
.example__title {
	display: block;
	margin-bottom: 10px;
}
.example__scroll {
	overflow-x: scroll;
	overflow: auto;
	background-color: #FFD6A4;
}
pre {
	font-size: 12px;
	background: #FFD6A4;
	padding: 10px;
	margin: 0;
}
/*SELECT STYLE*/
.styled-select {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
	border: none;
	z-index: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}
.example__select {
	margin-bottom: 30px;
}
.SumoSelect ul li.disabled {
	display: none;
}
.SumoSelect {
	width: 100%;
	height: 52px;
	cursor: pointer;
	max-width: 100%;
}
.SumoSelect .CaptionCont.SlectBox.clicked {
	border-color: #069edb;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
}
.SumoSelect .CaptionCont.SlectBox.clicked i:after {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.SumoSelect:hover .CaptionCont {
	border-color: #069edb;
}
.SumoSelect:focus .CaptionCont {
	border-color: #bfd4eb;
}
.SumoSelect .CaptionCont {
	cursor: pointer;
	border: 1px solid #a7c5d1;
	width: 100%;
	max-width: 100%;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	-moz-transition: all 0.25s;
	transition: all 0.25s;
	font-size: 16px;
	line-height: 20px;
	padding-left: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 33px;
}
.SumoSelect .CaptionCont .placeholder {
	color: #9cbcc6;
}
.SumoSelect .CaptionCont span {
	cursor: pointer;
}
.SumoSelect .CaptionCont label {
	width: 16px;
	height: 8px;
	right: 14px;
	cursor: pointer;
}
.SumoSelect .CaptionCont label i {
	border: 0;
	cursor: pointer;
	position: relative;
	width: 100%;
	height: 100%;
}
.SumoSelect .CaptionCont label i:after {
	position: absolute;
	left: 2px;
	color: #099fdb;
	top: 18px;
	content: "\33";
	font-family: "icomoon";
	font-size: 7px;
	font-style: normal;
	-webkit-transition: all 0.24s;
	-o-transition: all 0.24s;
	-moz-transition: all 0.24s;
	transition: all 0.24s;
}
.SumoSelect .optWrapper.open {
	max-height: 160px;
	top: 40px;
	border: 1px solid #dde3e3;
}
.SumoSelect .optWrapper {
	-webkit-transition: opacity 0.25s;
	-o-transition: opacity 0.25s;
	-moz-transition: opacity 0.25s;
	transition: opacity 0.25s;
}
.SumoSelect .optWrapper .options {
	padding: 0;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}
.SumoSelect .optWrapper .options li {
	border: 0;
	padding: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	list-style: none;
	margin: 0;
}
.SumoSelect .optWrapper .options li:before {
	content: none;
}
.SumoSelect .optWrapper .options li:after {
	content: none;
}
.SumoSelect .optWrapper .options li:hover {
	background: none;
}
.SumoSelect .optWrapper .options li label {
	padding-left: 15px;
	padding-bottom: 6px;
	padding-top: 6px;
	font-size: 14px;
	display: block;
	color: #322e2f;
	padding-right: 30px;
	line-height: 19px;
	cursor: pointer;
	-webkit-transition: color 0.24s;
	-o-transition: color 0.24s;
	-moz-transition: color 0.24s;
	transition: color 0.24s;
}
.SumoSelect .optWrapper .options li label:hover {
	color: #0188e5;
}
.SumoSelect .optWrapper .options li:before {
	content: none;
}
.SumoSelect .optWrapper .options li:first-child {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.SumoSelect .optWrapper .options:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: -webkit-calc(100% - 84px);
	width: -moz-calc(100% - 84px);
	width: calc(100% - 84px);
	height: 1px;
	background-color: #a7c5d1;
}
.SumoSelect .optWrapper.open {
	top: 42px;
	border: 1px solid #069edb;
	border-top: 0;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
}
.SumoSelect .jspDrag {
	width: 12px;
	background-color: #ed1a3b;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 0;
	left: -6px;
	-webkit-transition: all 0.24s;
	-o-transition: all 0.24s;
	-moz-transition: all 0.24s;
	transition: all 0.24s;
}
.SumoSelect .jspHover {
	background-color: #ff3050;
}
.SumoSelect .jspActive {
	background-color: #ce0020;
}
.SumoSelect .jspTrack {
	background-color: #cfe0e7;
	width: 1px;
	left: 3px;
}
.SumoSelect .jspVerticalBar .jspCap {
	height: 18px;
}